APP_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=foliolens
POSTGRES_USER=foliolens
POSTGRES_PASSWORD=replace-with-a-strong-password

FOLIOLENS_DATASET_PATH=../foliolens-data
FOLIOLENS_DATASET_VERSION=contest-2026q1-v1
FOLIOLENS_ANSWER_DEADLINE_MS=30000

HCX_API_KEY=
HCX_MODEL=HCX-005
HCX_APP_TYPE=serviceapp
HCX_CONNECT_TIMEOUT_MS=3000
HCX_READ_TIMEOUT_MS=30000
HCX_MAX_TOKENS=1024
HCX_TEMPERATURE=0.5
HCX_TOP_P=0.8
